<a href="https://colab.research.google.com/github/PepeScott/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time
#T(n)=4
def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    #print(f"total={ total }")
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)

for entrada in range(100,1100,100):
  ejemplo1(entrada)

Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000014305 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.

In [ ]:
from time import time
#T(n)=1+n^2
def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
          contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return contador

for entrada in range(100,1100,100):
  ejemplo2(entrada)

Tiempo transcurrido: 0.0007779598 segundos.
Tiempo transcurrido: 0.0018198490 segundos.
Tiempo transcurrido: 0.0041227341 segundos.
Tiempo transcurrido: 0.0076515675 segundos.
Tiempo transcurrido: 0.0171234608 segundos.
Tiempo transcurrido: 0.0205423832 segundos.
Tiempo transcurrido: 0.0254402161 segundos.
Tiempo transcurrido: 0.0329558849 segundos.
Tiempo transcurrido: 0.0424220562 segundos.
Tiempo transcurrido: 0.0521926880 segundos.

In [ ]:
from time import time
#T(n)=102
def ejemplo3( n ): # n=4
    start_time = time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return y

for entrada in range(100,1100,100):
  ejemplo3(entrada)

Tiempo transcurrido: 0.0000045300 segundos.
Tiempo transcurrido: 0.0000073910 segundos.
Tiempo transcurrido: 0.0000090599 segundos.
Tiempo transcurrido: 0.0000090599 segundos.
Tiempo transcurrido: 0.0000157356 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000085831 segundos.
Tiempo transcurrido: 0.0000083447 segundos.
Tiempo transcurrido: 0.0000085831 segundos.
Tiempo transcurrido: 0.0000083447 segundos.

In [ ]:
from time import time
#T(n)=3
def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return z

for entrada in range(100,1100,100):
  ejemplo4(entrada)

Tiempo transcurrido: 0.0000011921 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000011921 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000002384 segundos.
Tiempo transcurrido: 0.0000004768 segundos.

In [ ]:
from time import time
#T(n)=1+x
def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n

for entrada in range(100,1100,100):
  ejemplo5(entrada)

Tiempo transcurrido: 0.0000059605 segundos.
Tiempo transcurrido: 0.0000181198 segundos.
Tiempo transcurrido: 0.0000262260 segundos.
Tiempo transcurrido: 0.0000376701 segundos.
Tiempo transcurrido: 0.0000476837 segundos.
Tiempo transcurrido: 0.0000710487 segundos.
Tiempo transcurrido: 0.0000691414 segundos.
Tiempo transcurrido: 0.0000736713 segundos.
Tiempo transcurrido: 0.0000827312 segundos.
Tiempo transcurrido: 0.0000834465 segundos.

In [ ]:
#T(n)=2+n^3
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma

125000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,1100,100):
  ejemplo6(entrada)

Tiempo transcurrido: 0.1978187561 segundos.
Tiempo transcurrido: 0.9835157394 segundos.
Tiempo transcurrido: 3.5215060711 segundos.
Tiempo transcurrido: 8.9890158176 segundos.
Tiempo transcurrido: 17.2718906403 segundos.
Tiempo transcurrido: 31.4057559967 segundos.
Tiempo transcurrido: 51.3027460575 segundos.
Tiempo transcurrido: 75.9496896267 segundos.
Tiempo transcurrido: 112.1870434284 segundos.
Tiempo transcurrido: 156.0573987961 segundos.

In [4]:
#T(n)=1+25n^2
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
ejemplo7(4)

400

In [5]:
#T(n)=1+50n^2
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2
ejemplo7_2(3)

450

In [8]:
#T(n)=1+n o 6
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
numeros=[1,2,34,5,6]
ejemplo8(numeros)

6

In [10]:
#T(n)=3+2n
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


ejemplo9( 5 )

10

In [ ]:
#T(n)=1+((n^2+n)/2)
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
ejemplo10(5)